/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type=password],
input[type=email],
input[type=text],
input[type=submit],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

#root {
  background-image: url("./dist/starfield.png");
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: auto;
}
#root #main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  height: 50vh;
}
#root #main-menu #menu-button {
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  color: black;
  background-color: white;
  border: solid white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 16px;
  margin: 3px;
}
#root #main-menu #menu-button:focus {
  outline: none;
}
#root #main-menu #menu-button:hover {
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  background-color: black;
  border: solid white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#globe {
  flex-direction: column;
}

.question-hidden {
  display: none;
}

.question-shown {
  flex-direction: column;
  left: 750px;
  bottom: 350px;
}
.question-shown #form-question {
  margin-top: 100px;
}
.question-shown #form-question #question {
  margin-bottom: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 25px;
  color: white;
}
.question-shown #form-question #fill-country:focus {
  outline: none;
}
.question-shown #form-question #fill-country {
  width: 170px;
  height: 40px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  margin-left: 150px;
  border-radius: 20px;
}
.question-shown #form-question #fill-country:focus {
  outline: none;
}
.question-shown #form-question #fill-country {
  width: 170px;
  height: 40px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  margin-left: 150px;
  border-radius: 20px;
}
.question-shown #form-question #enter {
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  color: black;
  background-color: white;
  border: solid white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 16px;
  width: 70px;
  margin-left: 200px;
}
.question-shown #form-question #enter:hover {
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  background-color: black;
  border: solid white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 70px;
  margin-left: 200px;
}
.question-shown #form-question #enter:focus {
  outline: none;
}
.question-shown #form-question .try-again-hidden {
  display: none;
}
.question-shown #form-question .try-again {
  position: absolute;
  top: 220px;
  font-size: 17px;
  left: 335px;
}

/*# sourceMappingURL=application.css.map */
