#right-side{
  width: 50vw;
  display:flex;
  flex-direction: column;
  font-family: "Lucida Console", Monaco, monospace;

.question-hidden{
    display: none;
  } 
#score{
  height: 30vh;
  color: white;
  display: flex;
  flex-direction: row;
  line-height: 10vh;
  margin-left: 30vw;
}

#form-question{
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: white;
        #question-title{
          line-height: 15vh;
          margin-left: 15vw;
          font-size: 18px;
        }
        #fill-country:focus{
            outline: none
          }
          
        #fill-country{
            width: 170px;
            height: 40px;
            font-size: 17px;
            border-radius: 20px;
        }
        #fill-country:focus{
            outline: none
          }
          
          #fill-country{
            border-radius: 20px;
            margin-left: 17vw;
            border: solid white 1px;
            padding: 10px 50px 10px 50px;
          }
          
          #enter{
            color: black;
            background-color: white;
            border: solid white;
            border-radius: 7px;
            font-weight: bold;
            font-size: 16px;
            margin-left: 17.5vw;
            margin-top: 8vh;
            width: 10vw;
            height: 3vh;
            padding-left: 3vw;
          }
          
          #enter:hover{
            color:white;
            background-color: black;
            border: solid white;
            border-radius: 7px;
            font-weight: bold;
            font-size: 16px;
            margin-left: 17.5vw;
            margin-top: 8vh;
            width: 10vw;
            height: 3vh;
            padding-left: 3vw;
          }
          
          #enter:focus{
            outline: none
          }
          
       
          
          #try-again{
            font-size: 18px;
            margin-left: 21vw;
            margin-top: 4vh;
          }
    
}
}
